# Cross-compilation configuration for `cross` (https://github.com/cross-rs/cross)
# Reference: https://github.com/cross-rs/cross/wiki/Configuration

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get --assume-yes install libssl-dev:$CROSS_DEB_ARCH",
]
