name: CD

on:
  push:
    tags: ["v*.*.*"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  call-cd:
    uses: qntx/workflows/.github/workflows/rust-cd.yml@main
    with:
      bin: xmtp
      package: xmtp-cli
      cross_packages: "gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libssl-dev:arm64"
      cross_env: "PKG_CONFIG_ALLOW_CROSS=1"
      cargo_env: "CARGO_PROFILE_RELEASE_LTO=off"
